@font-face {
    font-family: 'pic04646';
    src: url($icon-font-path+'/pic04646.eot');
    src: url($icon-font-path+'/pic04646.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path+'/pic04646.woff') format('woff'),
         url($icon-font-path+'/pic04646.ttf') format('truetype'),
         url($icon-font-path+'/pic04646.svg#pic04646') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-font-core,
[class*='icon-']:before{
	display: inline-block;
   font-family: 'pic04646';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-basket:before{content:'\0041';}
.icon-telephone:before{content:'\0042';}
.icon-square:before{content:'\0043';}
.icon-search:before{content:'\0044';}
.icon-lunchbox:before{content:'\0045';}
.icon-fork:before{content:'\0046';}
.icon-sushi:before{content:'\0047';}
.icon-trolly:before{content:'\0048';}
.icon-cards:before{content:'\0049';}
.icon-dish:before{content:'\004a';}
.icon-curve:before{content:'\004b';}
.icon-prev:before{content:'\004c';}
.icon-arrows:before{content:'\004d';}
.icon-drop-arrow-extend,
.icon-drop-arrow:before{content:'\004e';}

@font-face {
  font-family: 'Montserrat';
  src: url($icon-font-path+'Montserrat-Regular.eot');
  src: url($icon-font-path+'Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url($icon-font-path+'Montserrat-Regular.woff') format('woff'),
    url($icon-font-path+'Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url($icon-font-path+'Montserrat-Bold.eot');
  src: url($icon-font-path+'Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url($icon-font-path+'Montserrat-Bold.woff') format('woff'),
    url($icon-font-path+'Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url($icon-font-path+'Montserrat-Light.eot');
  src: url($icon-font-path+'Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url($icon-font-path+'Montserrat-Light.woff') format('woff'),
    url($icon-font-path+'Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
