/*=================================
=            Home Page            =
=================================*/

#bs-example-navbar-collapse {
  margin-bottom: 5em;
  // display:block;
}

#panel-menu {
  margin: 5em 0 10em 0;
  text-align: center;
  .trans-box {
    padding-top: 0em;
  }
  .col-md-5 {
    padding: 0px;
    display: inline-block;
    float: none;
  }
  .col-md-5 + .col-md-5 {
    margin-left: 4em;
  }
}

#shop-menu {
  padding-bottom: 8em;
}

#how-to-order {
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}

#testimonials {
  padding-top: 8em;
  padding-bottom: 4em;
}

#clients {
  border-top: 1px solid rgba($black, 0.1);
  .page-section-title {
    padding-top: 5em;
  }
  padding-bottom:8em;
}

#footer {
  padding-top: 8em;
  padding-bottom: 8em;
  span {
    @extend .p3;
    font-size: 1.4em;
    color: #fff;
  }
}


/*==============================
=            Sevice            =
==============================*/

#top-section {
  padding-top: 3em;
  padding-bottom: 6em;
  h1 {
    margin-bottom: 1.5em;
  }
  img {
    padding: 0.5em;
  }
  .button-list {
    text-align: center;
    ul {
      margin-top: 4em;
      li {
        padding: 0;
        margin: 0;
        a {
          padding: 0.5em 2.5em;
        }
        &:last-child {
          margin-left: -1px;
        }
      }
    }
  }
}

#contact-us {
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 6em;
  h1 {
    margin-bottom: 1em;
  }
}

/*======================================
=            In the Kitchen            =
======================================*/
#in-the-kitchen {
	padding-top:6em;
	padding-bottom:8em;
	h1 { 
		margin-bottom:2em;
	}
}
#more-blog {
	  border-top: 1px solid rgba($black, 0.1);
	  padding-bottom:5em;
	h3 { 
		text-transform: uppercase;
		font-weight: 100;
		margin-top: 2em;
		margin-bottom: 1.5em; 

		font-size: 2.6em; 
	}
	a {	 
		font-size: 1.5em;
		text-transform: uppercase;
		display: inline-block;
		margin: 0.5em;
	    font-weight: 100;
	    color:$color2;
	    &.orange {
	    	color:$orange; 
	    }
	}

}
/*========================================
=            Single Blog Page            =
========================================*/
#simple-contact {
	padding-top:3em;
	padding-bottom:3em;
	margin: 0px;
	font-weight:300; 
	
}

/*===================================
=            Our Clients            =
===================================*/
#testimonials.white-trans-bg {
	margin-bottom:4em;
} 

