.blog-item {
	$height:333px;
	transition:0.3s all ease;

	img {
		width:95%; 
		height:$height;
	}
	a{ 
		display: inline-block;
		position: relative;
		&:before {
			    // position: absolute;
			    // top: 0;
			    // left: 0px;
			    // width: 95%;
			    // height: $height;
			    // content: "";
			    // transition:0.3s all ease;
		}
	}
	h2{
		 margin: 0;
	    line-height: 1.3em;
	    font-size: 3em;
	    text-transform: uppercase;
	    margin-bottom: 1em;
	    height: 78px;
	    overflow: hidden;
			cursor: pointer;
	}
	span {
		@extend .menu-a;
		text-transform: uppercase;
	    line-height: 2em;
	    background: #fff;
	    margin-top: 1em;
	}

	//shop-item hover
	&:hover {
		transition:0.3s all ease;
		.btn {
			background:rgba($color2,1);
			color:$white;
			span {
				color:$white;
			}
			&:hover {
				span {
					color:$white;
				}
			}
		}
	}
}