.shop-item {
	$height:262px;
	transition:0.3s all ease;

	img {
		width:95%;
		height:$height;
	}
	a{ 
		display: inline-block;
		position: relative;
		&:before {
			    position: absolute;
			    top: 0;
			    left: 0px;
			    width: 95%;
			    height: $height;
			    content: "";
			    // background:rgba($color2,0.5); 
			    transition:0.3s all ease;
		}
	}
	span {
		@extend .menu-a;
		text-transform: uppercase;
		line-height: 5em;
		background:#fff;
	}

	//shop-item hover
	&:hover {
		transition:0.3s all ease;

		a {
			&:before {
			    background:rgba($color2,0.5);
			    transition:0.3s all ease;
			}
			span {
				color:$color2;
			}
		}
	}
}